pkgbase = omarchy-activity-monitor-power-helper
	pkgdesc = Optional root-only RAPL reader for the Omarchy Activity Monitor plugin
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/stappmus/omarchy-activity-monitor
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = sudo
	options = !debug
	source = activity-stats
	source = stappmus-activity-monitor.sudoers
	source = README.md
	source = LICENSE
	sha256sums = df140c15d2c35f7aa0fa6b01fe893b66505e11be32af9075c2267a7c303b2957
	sha256sums = 0d65c92f6ebf96534d885ee4fc4c164dc3bfb0d54db088bbdc77c19ed7d263c8
	sha256sums = 6b623ab9c6a6447e9dd80c4a2d1f5fbc7ec4ee072154a6b587e258184d14231a
	sha256sums = dd56ead2d3379b1d8298bbd1b905188b21894c46312ea4186b2afde9b03b3184

pkgname = omarchy-activity-monitor-power-helper
