pkgbase = omarchy-activity-monitor-power-helper
	pkgdesc = Optional root-only RAPL reader for the Omarchy Activity Monitor plugin
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/stappmus/omarchy-activity-monitor
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = sudo
	options = !debug
	source = activity-stats
	source = stappmus-activity-monitor.sudoers
	source = README.md
	source = LICENSE
	sha256sums = a2d5b53cb35c2f22b3f318decd05a020d5430c09f9b76720e2d0f0a06a22d8a5
	sha256sums = 0d65c92f6ebf96534d885ee4fc4c164dc3bfb0d54db088bbdc77c19ed7d263c8
	sha256sums = f2c7caf0a6995844e67c0f9c1a985e0dfb4fc2fa9b24a8a713c0eebf1001cbc4
	sha256sums = dd56ead2d3379b1d8298bbd1b905188b21894c46312ea4186b2afde9b03b3184

pkgname = omarchy-activity-monitor-power-helper
